<style>
  #session-form > form {
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
</style>

<% content_for :title, "Store - Log In" %>

<div style='display: flex; flex-direction: column; justify-content: center;'>
  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
  <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

  <h1>Log In</h1>

  <div id='session-form'>
    <%= form_with url: session_path do |form| %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], style: 'width: 100%' %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, style: 'width: 100%' %>
      <%= form.submit "Sign in" %>
    <% end %>
  </div>

  <%= link_to "Forgot password?", new_password_path, style: 'margin-top: 1em' %>
</div>
