<h1><%= title %></h1>

<%= form_with model: product do |form| %>
  <div>
    <%= form.label :name, style: 'margin-bottom: 0.5em' %>
    <%= form.text_field :name, required: true, autofocus: true, autocomplete: "product-name", placeholder: "E.g: Leather Jacket" %>

    <%= form.label :description, style: 'display: block' %>
    <%= form.rich_text_area :description %>

    <div>
      <%= form.label :featured_image, style: 'display: block' %>
      <%= form.file_field :featured_image, accept: 'image/*' %>
    </div>

    <div>
      <%= form.label :inventory_count, style: 'display:block' %>
      <%= form.number_field :inventory_count %>
    </div>
  </div>

  <%# Form Errors %>
  <% unless product.errors.empty? %>
    <ul>
      <% product.errors.full_messages.each do |error| %>
        <li style='color: red'>
          <%= error %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div style="margin: 1em 0">
    <%= form.submit %>
  </div>
<% end %>
